{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna.user.header.list'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_user_user_admin_new'), 'ekyna.user.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
{{ ekyna_table_render(users) }}
{% endblock %}