{% extends "EkynaUserBundle::layout.html.twig" %}

{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}

{% block account %}
    <h3>Tableau de bord</h3>
    <hr>
    <p>TODO</p>
{% endblock account %}
