{% extends '@EkynaUser/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block title %}
            <h1>{{ 'ekyna_user.account.title'|trans }}</h1>
            {% endblock title %}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ knp_menu_render('user_account', {
                'template': '@EkynaUser/menu.html.twig',
                'style': 'stacked-pills'
            }) }}
        </div>
        <div class="col-md-9" id="user-account-content">
            {% block account %}{% endblock account %}
        </div>
    </div>
</div>
{% endblock content %}
