{% extends "EkynaUserBundle::layout.html.twig" %}

{% block account %}
<h3>Ajouter une adresse</h3>
<hr>
<form action="{{ path('ekyna_user_address_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal">
    <div class="form-body">
        {% include "EkynaUserBundle:Address:_form.html.twig" %}
    </div>
    {{ ui_form_footer(path('ekyna_user_address_list')) }}
</form>
{% endblock %}