{% extends ekyna_user_config.templates.base %}

{% block content %}
<div class="row">
    <div class="col-md-6{% if not ekyna_user_config.account.register %} col-md-offset-3{% endif %}">
	    <h3>Connectez-vous à votre compte client</h3>
	    <hr>
	    {% include "EkynaUserBundle:Security:login_form.html.twig" %}
    </div>
	{% if ekyna_user_config.account.register %}
    <div class="col-md-6">
	    <h3>Créez votre compte client</h3>
	    <hr>
	    <p>Grâce à votre compte client ...</p>
	    <p><a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">{{ 'ekyna_user.account.registration.button'|trans }}</a></p>
    </div>
	{% endif %}
</div>
{% endblock content %}