{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Réinitialisation du mot de passe</h3>
        <hr>
        <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
    </div>
</div>
{% endblock %}