{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Réinitialisation du mot de passe</h3>
        <hr>
        {% include "EkynaUserBundle:Resetting:reset_content.html.twig" %}
    </div>
</div>
{% endblock %}