{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Vérification par email</h3>
        <hr>
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
</div>
{% endblock %}