{% extends ekyna_user_config.templates.base %}

{% block content %}
<div class="row">
    <div class="col-md-4">
	    {{ cms_title('h3') }}
	    {{ cms_content() }}
    </div>
    <div class="col-md-8">
        {% include "EkynaUserBundle:Registration:register_content.html.twig" %}
    </div>
</div>
{% endblock content %}