{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna.group.header.list'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_group_admin_new'), 'ekyna.group.button.new', 'primary', 'sm', 'plus') }}
{% endblock %}

{% block main %}
{{ ekyna_table_render(groups) }}
{% endblock %}