{% extends "EkynaUserBundle::layout.html.twig" %}

{% block account %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
		<h3>Changer mon mot de passe</h3>
		<hr>
		{% include "EkynaUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
</div>
{% endblock %}
