{% extends "EkynaUserBundle::layout.html.twig" %}

{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}

{% block account %}
    <h3>{{ 'ekyna_user.account.dashboard.title'|trans }}</h3>
    <hr>
    {% for widget in widgets %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ widget.title|trans }}
        </div>
        {% include widget.template with widget.parameters %}
    </div>
    {% endfor %}
{% endblock account %}
