{% extends '@EkynaUser/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'account.title'|trans({}, 'EkynaUser') }}</h1>
                <hr>

                {# TODO #}

            </div>
        </div>
    </div>
{% endblock content %}
